/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #f8f6f6;
    color: #404040;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container {
    margin: 50px auto;
    width: 380px;
}

.item {
    border: none;
    padding: 3%;
    margin: 4%;
    width: 100%;
    border-radius: 7px;
    background: linear-gradient(315deg, #f08686, #e6d4d4);
    box-shadow:  -8px -8px 16px #d4c3c3, 
             8px 8px 16px #ffffff;
}

.item.completed {
    text-decoration: line-through;
}

form {
    display: flex;
    justify-content: center;
    padding: 2%;
    
}

.title h2 {
    font-size: 32px;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-bottom: 20px;
    border: none;
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(225deg, #ffffff, #e6e6e6);
    box-shadow:  -5px 5px 10px #d9d9d9, 
             5px -5px 10px #ffffff;
    
}

label {
    border: none;
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(225deg, #ff8d8d, #e6e6e6);
    box-shadow:  -5px 5px 10px #d9d9d9, 
             5px -5px 10px #ffffff;
}

button {
    border: none;
    margin: 5px;
    border-radius: 12px;
    background: linear-gradient(225deg, #ffffff, #e6e6e6);
    box-shadow:  -5px 5px 10px #d9d9d9, 
             5px -5px 10px #ffffff;
}

#addTask {
    border: none;
    margin: 5px;
    padding: 8%;
    border-radius: 12px;
    background: linear-gradient(225deg, #ffffff, #e6e6e6);
    box-shadow:  -5px 5px 10px #d9d9d9, 
             5px -5px 10px #ffffff;
}